@if (Request.IsAuthenticated) {
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="dropdown-toggle" data-toggle="dropdown" tabindex="0" id="userDropDown">
                @User.Identity.Name
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Manage", "Account")">Change Password</a></li>
                @if (User.IsInRole("Administrator")) {
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Register", "Account")">Register</a></li>
                }
                <li class="divider"></li>
                <li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            Log off
                        </a>
                    }
                </li>
            </ul>
        </li>
    </ul>
} else {
    <ul class="nav navbar-nav navbar-right">
        <li>
            <!--<a href="@Url.Action("Login", "Account")">Log in</a>-->
        </li>
    </ul>
}
