@{
    object firstArgs = new { page = 0};
    object prev2Args = new { page = Model.Page - Model.PageSkip};
    object prevArgs = new { page = Model.Page - 1};
    object nextArgs = new { page = Model.Page + 1};
    object next2Args = new { page = Model.Page + Model.PageSkip};
    object lastArgs = new { page = Model.LastPage};    
}

@if (Model.HasPrevPage(1)) {
    <span>
        @Html.ActionLink("[First]", "Index", "Home", firstArgs, htmlAttributes: null)
    </span>

    if (Model.HasPrevPage(Model.PageSkip)) {
        <span>
            @Html.ActionLink("[ << ]", "Index", "Home", prev2Args, htmlAttributes: null)
        </span>
    } else {
        <span>[ &lt;&lt; ]</span>
    }

    <span>
        @Html.ActionLink("[  <  ]", "Index", "Home", prevArgs, htmlAttributes: null)
    </span>
} else {
    <span>[First]</span> <span>[ &lt;&lt; ]</span> <span>[  &lt;  ]</span>
}

<span>|</span>

@if (Model.HasNextPage(1)) {
    <span>
        @Html.ActionLink("[  >  ]", "Index", "Home", nextArgs, htmlAttributes: null)
    </span>

    if (Model.HasNextPage(Model.PageSkip)) {
        <span>
            @Html.ActionLink("[ >> ]", "Index", "Home", next2Args, htmlAttributes: null)
        </span>
    } else {
        <span>[ &gt;&gt; ]</span>
    }

    <span>
        @Html.ActionLink("[Last]", "Index", "Home", lastArgs, htmlAttributes: null)
    </span>
} else {
    <span>[  &gt;  ]</span> <span>[ &gt;&gt; ]</span> <span>[Last]</span>
}
