@model VocabInstaller.Models.Card

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Card</legend>

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.UserId)

        <div class="editor_label">
            @Html.LabelFor(m => m.Question)
        </div>
        <div class="editor_field">
            @Html.EditorFor(m => m.Question)
            @Html.ValidationMessageFor(m => m.Question)
        </div>

        <div class="editor_label">
            @Html.LabelFor(m => m.Answer)
        </div>
        <div class="editor_field">
            @Html.EditorFor(m => m.Answer)
            @Html.ValidationMessageFor(m => m.Answer)
        </div>

        <div class="editor_label">
            @Html.LabelFor(m => m.Note)
        </div>
        <div class="editor_field">
            @Html.TextAreaFor(m => m.Note, new { @class = "note", @cols = 60, @rows = 4 })
            @Html.ValidationMessageFor(m => m.Note)
        </div>

        @Html.HiddenFor(m => m.CreatedAt)
        @Html.HiddenFor(m => m.ReviewedAt)
        @Html.HiddenFor(m => m.ReviewLevel)

        <div class="submit_button">
            <input type="submit" value="Create" />
        </div>
    </fieldset>
}

<div class="back_to">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
