@model VocabInstaller.Models.Card

@{
    ViewBag.Title = "Delete";
    var note = Model.Note;
    var noteClass = "note";
}

@section navigations {
    <ul class="nav navbar-nav">
        <li>
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>
    </ul>
}

<h2>Delete</h2>

<h3 class="text-danger">Are you sure you want to delete this?</h3>

<fieldset id="delete">
    <legend>Card</legend>

    <div class="question">
        <div class="display_label">
            @Html.DisplayNameFor(m => m.Question)
        </div>
        <div class="display_field">
            @Html.DisplayFor(m => m.Question)
        </div>
    </div>

    <div class="answer">
        <div class="display_label">
            @Html.DisplayNameFor(m => m.Answer)
        </div>
        <div class="display_field">
            @Html.DisplayFor(m => m.Answer)
        </div>
    </div>
    
    @if (!string.IsNullOrEmpty(note)) {
        note = Html.Encode(note)
            .Replace("\r", "")
            .Replace("\n", "<br />")
            .Replace("&amp;nbsp;", "&nbsp;");
    } else {
        note = "&nbsp;";
        noteClass = "";
    }
    <div class=@noteClass>
        <div class="display_label">
            @Html.DisplayNameFor(m => m.Note)
        </div>
        <div class="display_field">
            @Html.Raw(note)
        </div>
    </div>
    
    <div class="created_at">
        <div class="display_label">
            @Html.DisplayNameFor(m => m.CreatedAt)
        </div>
        <div class="display_field">
            @Model.CreatedAt.ToString("yyyy/MM/dd HH:mm")
        </div>
    </div>

    <div class="reviewed_at">
        <div class="display_label">
            @Html.DisplayNameFor(m => m.ReviewedAt)
        </div>
        <div class="display_field">
            @Model.ReviewedAt.ToString("yyyy/MM/dd HH:mm")
        </div>
    </div>
    
    <div class="review_level">
        <div class="display_label">
            @Html.DisplayNameFor(m => m.ReviewLevel)
        </div>
        <div class="display_field">
            <img src="~/Images/rev@(Model.ReviewLevel).png" alt="review icon" class="review_icon" />
            @(Model.ReviewLevel + 1)
        </div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        @Html.Hidden("page", (int)ViewBag.Page)
        @Html.Hidden("search", (string)ViewBag.Search)

        <div class="form-group submit_button float-right">
            <button type="submit" id="sbmDelete" class="btn btn-danger">
                Delete
            </button>
        </div>
    }
</fieldset>


<div class="back_to">
    @Html.ActionLink("Back to List", "Index",
        new { page = ViewBag.Page, search = ViewBag.Search }, null)
</div>

@section scripts {
<script type="text/javascript">
    $(function() {
        $("#sbmDelete").click(function() {
            if (confirm("Are you sure you want to delete this item?")) {
                return true;
            } else {
                return false;
            }
        });
    });
</script>
}
