@model VocabInstaller.Models.Card

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

<fieldset>
    <legend>Card</legend>

    <div class="display_label">
         @Html.DisplayNameFor(m => m.Question)
    </div>
    <div class="display_field">
        @Html.DisplayFor(m => m.Question)
    </div>

    <div class="display_label">
         @Html.DisplayNameFor(m => m.Answer)
    </div>
    <div class="display_field">
        @Html.DisplayFor(m => m.Answer)
    </div>

    <div class="display_label">
         @Html.DisplayNameFor(m => m.Note)
    </div>
    <div class="display_field">
        @Html.DisplayFor(m => m.Note)
    </div>

    <div class="display_label">
         @Html.DisplayNameFor(m => m.CreatedAt)
    </div>
    <div class="display_field">
        @Html.DisplayFor(m => m.CreatedAt)
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        @Html.Hidden("page", (int)ViewBag.Page)
        @Html.Hidden("search", (string)ViewBag.Search)

        <div class="submit_button">
            <input type="submit" value="Delete" />
        </div>
    }
</fieldset>


<div class="back_to">
    @Html.ActionLink("Back to List", "Index",
            new { page = ViewBag.Page, search = ViewBag.Search }, null)
</div>