@using VocabInstaller.Migrations
@model VocabInstaller.Models.Card

@{
    ViewBag.Title = "Edit";
    var fromController = (string) ViewBag.FromController;
    var revModel = ViewBag.ReviewViewModel;    
}

@section navigations {
    <ul class="nav navbar-nav">
        <li>
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>
    </ul>
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Home", FormMethod.Post,
    htmlAttributes: new { @class = "form-horizontal" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Card</legend>

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.UserId)

        <div class="form-group">
            @Html.LabelFor(m => m.Question, new { @class = "control-label", @for = "tbQuestion" })
            @Html.TextBoxFor(m => m.Question, new { @id = "tbQuestion", @class = "form-control editor_field" })
            <span class="text-danger">@Html.ValidationMessageFor(m => m.Question)</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Answer, new { @class = "control-label", @for = "tbAnswer" })
            @Html.TextBoxFor(m => m.Answer, new { @id = "tbAnswer", @class = "form-control editor_field" })
            <span class="text-danger">@Html.ValidationMessageFor(m => m.Answer)</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Note, new { @class = "control-label", @for = "tbNote" })
            @Html.TextAreaFor(m => m.Note, new { @id = "tbNote", @class = "form-control editor_field", @cols = 60, @rows = 4 })
            <span class="text-danger">@Html.ValidationMessageFor(m => m.Note)</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CreatedAt,
                new { @class = "control-label", @for = "tbCreatedAt" })
            @Html.TextBoxFor(m => m.CreatedAt,
                @"{0:yyyy/MM/dd hh\:mm}",
                 new { @id = "tbCreatedAt", @class = "form-control editor_field" })
            <span class="text-danger">@Html.ValidationMessageFor(m => m.CreatedAt)</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ReviewedAt, new { @class = "control-label", @for = "tbReviewedDate" })
            @Html.TextBoxFor(m => m.ReviewedAt,
                @"{0:yyyy/MM/dd hh\:mm}",
                 new { @id = "tbReviewedDate", @class = "form-control editor_field" })
            <span class="text-danger">@Html.ValidationMessageFor(m => m.ReviewedAt)</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ReviewLevel, new { @class = "control-label", @for = "tbReviewLevel" })
            @Html.TextBoxFor(m => m.ReviewLevel, new { @id = "tbReviewLevel", @class = "form-control editor_field" })
            <span class="text-danger">@Html.ValidationMessageFor(m => m.ReviewLevel)</span>
        </div>

        @Html.Hidden("page", (int)ViewBag.Page)
        @Html.Hidden("search", (string)ViewBag.Search)
        @Html.Hidden("fromController", fromController)
        @Html.Hidden("fromAction", (string)ViewBag.FromAction)
                        
        @if (fromController == "Review") {
            @Html.Hidden("ItemsPerPage", (int) revModel.ItemsPerPage)
            @Html.Hidden("PageSkip", (int) revModel.PageSkip)
            @Html.Hidden("LastPage", (int)revModel.LastPage)
            @Html.Hidden("ItemNum", (int)revModel.ItemNum)
            @Html.Hidden("ReviewMode", (string)revModel.ReviewMode)
            @Html.Hidden("MyAnswer", (string)revModel.MyAnswer)
            @Html.Hidden("AnswerTime", (TimeSpan) revModel.AnswerTime)
            @Html.Hidden("Blank", (string)revModel.Blank)
            @Html.Hidden("BlankAnswer", (char?)revModel.BlankAnswer)
        }
        
        <div class="form-group submit_button">
            <button type="submit" class="btn btn-success">
                Save
            </button>
        </div>
    </fieldset>
}

<div class="back_to">
    @if (fromController == "Review") {
        @Html.ActionLink("Back to List", (string) ViewBag.FromAction, (string) ViewBag.FromController,
            new { id = Model.Id, 
                ViewBag.Page,
                revModel.ItemsPerPage, revModel.PageSkip, revModel.LastPage, revModel.ItemNum, revModel.ReviewMode,
                revModel.MyAnswer, revModel.AnswerTime, revModel.Blank, revModel.BlankAnswer}, null)
    } else {
        @Html.ActionLink("Back to List", (string) ViewBag.FromAction, (string) ViewBag.FromController,
            new {id = Model.Id, page = ViewBag.Page, search = ViewBag.Search}, null)
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $(function () {
        $("#tbQuestion").focus();
    });
</script>
}
