@model VocabInstaller.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="search">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get)) {
        @Html.TextBox("search")
        <input type="submit" value="Search" />
    }
</div>

<div class="record_num">
    <h3>@Model.ItemNum items</h3>
</div>

<div class="create_link">
    @Html.ActionLink("Create", "Create")
</div>

<table>
    <tr>
        <th>ID</th>
        <th>Word</th>
        <th>Meaning</th>
        <th>Note</th>
        <th>Registerd Date</th>
    </tr>
    @foreach (var q in Model.GetQuestionsInPage()) {
        <tr>
            <td>@q.Id</td>
            <td>@q.Word</td>
            <td>@q.Meaning</td>
            <td>@q.Note</td>
            <td>@q.RegisteredDate</td>
            <td>@Html.ActionLink("Edit", "Edit", 
                new {id = q.Id, page = Model.Page, search = Model.Search})</td>
            <td>@Html.ActionLink("Delete", "Delete", 
                new {id = q.Id, page = Model.Page, search = Model.Search})</td>
        </tr>
    }
</table>

<div class="paging">
    @Html.Partial("_PagingPartial")
    <p>
        [ @(Model.Page + 1) / @(Model.LastPage + 1) ]
    </p>
</div>
