@model VocabInstaller.Models.Question

@{
    ViewBag.Title = "Answer";
}

@section navigations {
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Review", "Index", "Review")</li>
            <li>@Html.ActionLink("Status", "Status", "Review")</li>
        </ul>
    </nav>
}

<h2>Answer</h2>

<div class="paging">
    <p>
        &nbsp;
    </p>
    <span>&nbsp;</span>
</div>

<section class="question">
    <div class="left_side">
        <div class="word">
            @Model.Word
        </div>
        <div class="meaning">
            @Model.Meaning
        </div>
    </div>

    <div class="right_side review_page">
        <div id="answer_form">
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()

                @Html.Hidden("id", Model.Id)
                @Html.Hidden("page", (int)ViewBag.Page)

                <p class="submit_button">
                    <input type="submit" name="answer" value="Perfect" />
                </p>
                <p class="submit_button">
                    <input type="submit" name="answer" value="Almost" />
                </p>
            }
        </div>
        
        <div class="note clear_both">
            @Model.Note
        </div>        

        <div class="reviewed_at">
            @Model.ReviewedAt.ToString("yyyy/MM/dd HH:mm")
        </div>
    </div>
</section>

<p>
    @Html.ActionLink("Back to List", "Index",
            new { page = ViewBag.Page }, null)
</p>
