@model VocabInstaller.Models.Card

@{
    ViewBag.Title = "Answer";
    var note = Model.Note;
}

@section navigations {
    <ul class="nav navbar-nav">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="divider_vertical"></li>
        <li><a href="@Url.Action("Index", "Review")">Review</a></li>
        <li class="divider_vertical"></li>
        <li><a href="@Url.Action("Status", "Review")">Status</a></li>
    </ul>
}

<h2>Answer</h2>

<!-- Pagination -->
<div class="row">
    <div class="dummy_pagination">&nbsp;</div>
</div>

<!-- Card -->
<div id="review" class="row">
    <section class="card">
        <div class="card_left">            
            <div class="question">
                <div class="display_label">Question</div>
                <div class="display_field">@Model.Question</div>
            </div>
            
            <div class="answer">
                <div class="display_label">Answer</div>
                <div class="display_field">@Model.Answer</div>
            </div>
        </div>

        <div class="card_right">
            @using (Html.BeginForm("Answer", "Review",
                routeValues: null, method: FormMethod.Post,
                htmlAttributes: new { @class = "form-horizontal" })) {
                @Html.AntiForgeryToken()

                @Html.Hidden("id", Model.Id)
                @Html.Hidden("page", (int)ViewBag.Page)

                <div class="form-group">
                    <button type="submit" id="sbmPerfect" class="btn btn-success"
                            name="evaluation" value="Perfect">
                        Perfect
                    </button>

                    <button type="submit" id="sbmAlmost" class="btn btn-warning"
                            name="evaluation" value="Almost">
                        Almost
                    </button>
                </div>
            }
        </div> <!-- div class="card_right" -->

        <div class="card_left clear-both">
            @if (!string.IsNullOrEmpty(note)) {
                note = Html.Encode(note)
                    .Replace("\r", "")
                    .Replace("\n", "<br />")
                    .Replace("&amp;nbsp;", "&nbsp;");
                <div class="note">
                    <div class="display_label">Note</div>
                    <div class="display_field">
                        @Html.Raw(note)
                    </div>
                </div>
            }
        </div>

        <div class="card_right">
            <div class="created_at">
                <div class="display_label">Created at</div>
                <div class="display_field">
                    @Model.CreatedAt.ToString("yyyy/MM/dd HH:mm")
                </div>
            </div>
            
            <div class="reviewed_at">
                <div class="display_label">Reviewed at</div>
                <div class="display_field">
                    @Model.ReviewedAt.ToString("yyyy/MM/dd HH:mm")
                </div>
            </div>

            <div class="review_level">
                <div class="display_label">Review Level</div>
                <div class="display_field">
                    <img src="~/Images/rev@(Model.ReviewLevel).png" alt="review icon" class="review_icon" />
                    <span class="badge">@(Model.ReviewLevel + 1)</span>
                </div>
            </div>
        </div>
    </section>
</div><!-- div class="row" -->

<div class="back_to">
    @Html.ActionLink("Back", "Index",
            new { page = ViewBag.Page }, null)
</div>

@section scripts{
<script type="text/javascript">
    $(function () {
        $("#sbmPerfect").focus();
    });
</script>    
}
