@model VocabInstaller.Models.Card

@{
    ViewBag.Title = "Answer";
}

@section navigations {
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Review", "Index", "Review")</li>
            <li>@Html.ActionLink("Status", "Status", "Review")</li>
        </ul>
    </nav>
}

<h2 class="review_title">Answer</h2>

<div class="paging">
    <p>
        &nbsp;
    </p>
    <span>&nbsp;</span>
</div>

<section class="card review_page">
    <div class="left_side">
        <div class="question">
            <h3>Question</h3>
            @Model.Question
        </div>
        <div class="answer">
            <h3>Answer</h3>
            @Model.Answer
        </div>
    </div>

    <div class="right_side">
        <div id="answer_form">
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()

                @Html.Hidden("id", Model.Id)
                @Html.Hidden("page", (int)ViewBag.Page)

                <p class="submit_button">
                    <input type="submit" name="answer" value="Perfect" />
                </p>
                <p class="submit_button">
                    <input type="submit" name="answer" value="Almost" />
                </p>
            }
        </div>
    </div>

    <div class="left_side">
        @{
            var note = Model.Note;
            if (note != null) {
                note = Html.Encode(note)
                    .Replace("\r", "")
                    .Replace("\n", "<br />")
                    .Replace("&amp;nbsp;", "&nbsp;");                
                @:<div class="note">
                    @:<h3>Note</h3>
                    @Html.Raw(note)
                @:</div>
            }
        }
    </div>

    <div class="right_side">
        <div class="created_at">
            <h3>Created at</h3>
            @Model.CreatedAt.ToString("yyyy/MM/dd HH:mm")
        </div>

        <div class="reviewed_at">
            <h3>Reviewed at</h3>
            @Model.ReviewedAt.ToString("yyyy/MM/dd HH:mm")
        </div>
        
        <div class="review_level">
            <h3>Review Level</h3>
            <img src="~/Images/rev@(Model.ReviewLevel).png" alt="review icon" />
            <p>@Model.ReviewLevel</p>
        </div>
    </div>
</section>

<div class="back_to">
    @Html.ActionLink("Back", "Index",
            new { page = ViewBag.Page }, null)
</div>
