@model VocabInstaller.ViewModels.ReviewViewModel

@{
    ViewBag.Title = "Review";
}

@section navigations {
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Review", "Index", "Review")</li>
            <li>@Html.ActionLink("Status", "Status", "Review")</li>
        </ul>
    </nav>
}

<h2>Review</h2>

<!--<div class="record_num">
    <h3>@Model.ItemNum items</h3>
</div>-->

<div class="paging">
    <p>
        [ @(Model.Page + 1) / @(Model.LastPage + 1) ]
    </p>
    @Html.Partial("_PagingPartial")
</div>

@if (Model.ViewQuestions != null && Model.ViewQuestions.Count() > 0) {
    foreach (var q in Model.ViewQuestions) {
        <section class="question">
            <div class="left_side">
                <div class="word">
                    <h3>Word</h3>
                    @q.Word
                </div>
                <div class="meaning">
                    <h3>Meaning</h3>
                    ? @*q.Meaning*@
                </div>
            </div>

            <div class="right_side review_page">
                <div id="question_form">
                    @using (Html.BeginForm("Answer", "Review",
                        routeValues: new { id = q.Id }, method: FormMethod.Get, htmlAttributes: null)) {
                        @*Html.AntiForgeryToken()*@

                        @Html.Hidden("page", Model.Page)

                        <p class="submit_button">
                            <input type="submit" value="Answer" />
                        </p>
                    }
                </div>
            </div>
            
            <div class="left_side review_page">
                <h3></h3>
                &nbsp;
            </div>

            <div class="right_side review_page">
                <div class="created_at">
                    <h3>Created at</h3>
                    @q.CreatedAt.ToString("yyyy/MM/dd HH:mm")
                </div>

                <div class="reviewed_at">
                    <h3>Reviewed at</h3>
                    @q.ReviewedAt.ToString("yyyy/MM/dd HH:mm")
                </div>

                <div class="review_level">
                    <h3>Review Level</h3>
                    @q.ReviewLevel
                </div>

                <div class="edit">
                    @*Html.ActionLink("Answer", "Answer",
                    new { id = q.Id, page = Model.Page })
                | *@
                    @Html.ActionLink("Edit", "Edit", "Home",
                    new { id = q.Id, page = Model.Page, from = "Review" }, null)
                </div>
            </div>

</section>
    }
} else {
    <p>No item is found.</p>
}

