@model IQueryable<VocabInstaller.Models.Card>

@{
    ViewBag.Title = "Status";
}

@section navigations {
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Review", "Index", "Review")</li>
            <li>@Html.ActionLink("Status", "Status", "Review")</li>
        </ul>
    </nav>
}

<h2>Status</h2>

@{
    int total = Model.Count();
    int[] revLv = new int[] {
        Model.Count(c => c.ReviewLevel == 0),
        Model.Count(c => c.ReviewLevel == 1),
        Model.Count(c => c.ReviewLevel == 2),
        Model.Count(c => c.ReviewLevel == 3),
        Model.Count(c => c.ReviewLevel == 4),
        Model.Count(c => c.ReviewLevel == 5)
    };    
}

<div class="review_status">
    <h3>Under Review: @(total - revLv[5]) items</h3>

    <img class="graph" alt="review status"
         src="@Url.Action("DrawGraph", "Review",
                  new { revLvStr = string.Join(",", revLv), width=600, height=450 })" />

    <h3>Completed: @revLv[5] items</h3>
    <h3>Total: @total items</h3>
</div>

<p class="back_to">
    @Html.ActionLink("Back to List", "Index")
</p>
