@model IQueryable<VocabInstaller.Models.Question>

@{
    ViewBag.Title = "Status";
}

@section navigations {
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Review", "Index", "Review")</li>
            <li>@Html.ActionLink("Status", "Status", "Review")</li>
        </ul>
    </nav>
}

<h2>Status</h2>

@{
    int total = Model.Count();
    int[] revLv = new int[] {
        Model.Where(q => q.ReviewLevel == 0).Count(),
        Model.Where(q => q.ReviewLevel == 1).Count(),
        Model.Where(q => q.ReviewLevel == 2).Count(),
        Model.Where(q => q.ReviewLevel == 3).Count(),
        Model.Where(q => q.ReviewLevel == 4).Count(),
        Model.Where(q => q.ReviewLevel == 5).Count()
    };    
}

<div class="review_status">
    <h3>Under Review: @(total - revLv[5]) items</h3>

    <img class="graph" alt="review status"
         src="@Url.Action("DisplayGraph", "Review",
         new { revLvStr = string.Join(",", revLv), width=640, height=480 })" />

    <h3>Completed: @revLv[5] items</h3>
    <h3>Total: @total items</h3>
</div>

<p class="back_to">
    @Html.ActionLink("Back to List", "Index")
</p>
