@model IQueryable<VocabInstaller.Models.Question>

@{
    ViewBag.Title = "Status";
}

@section navigations {
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Review", "Index", "Review")</li>
            <li>@Html.ActionLink("Status", "Status", "Review")</li>
        </ul>
    </nav>
}

<h2>Status</h2>

@{
    int total = Model.Count();
    int revLv5 = Model.Where(q => q.ReviewLevel == 5).Count();
    int revLv1to4 = total - revLv5;
}

<div>
    <h3>Under Review: @revLv1to4 items</h3>
<!--    <img class="review_status" alt="review status"
         src="@Url.Action("DisplayGraph", "Review")" />-->
</div>

<div class="margin-10px">
    <h3>Completed: @revLv5 items</h3>
    <h3>Total: @total items</h3>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
