@{
    ViewBag.Title = "Function";
}

<h2>Function</h2>

@section navigations {
    <ul class="nav navbar-nav">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="divider_vertical"></li>
        <li><a href="@Url.Action("Index", "Function")">Function</a></li>
        <li class="divider_vertical"></li>
        <li><a href="@Url.Action("Initialize", "Function")">Initialize</a></li>
        <li class="divider_vertical"></li>
        <li><a href="@Url.Action("Import", "Function")">Import</a></li>
        <li class="divider_vertical"></li>
        <li><a href="@Url.Action("Export", "Function")">Export</a></li>
    </ul>
}

<div id="function">
    <ul>
        <li>@Html.ActionLink("Initialize the database", "Initialize", "Function")</li>
        <li>@Html.ActionLink("Import data from csv file", "Import", "Function")</li>
        <li>@Html.ActionLink("Export data to csv file", "Export", "Function")</li>
    </ul>
</div>
