@model System.Collections.Generic.List<VocabInstaller.Models.Question>

@{
    ViewBag.Title = "Initialize";
}

@section navigations {
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Function", "Index", "Function")</li>
        </ul>
    </nav>
}

@section scripts {
    <script type="text/javascript">
    $(function(){
        $("#sbmInitialize").click(function(){
            if (confirm("Are you sure you want to initialize this database?")){
                return true;
            }else{
                return false;
            }
        });
    });
    </script>
}

<h2>Initialize</h2>
<p>Click below button to initialize the database.</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <p>
        <input id="sbmInitialize" type="submit" value="Initialize" />
    </p>
}

<p>
    @ViewBag.Result
</p>

@if (Model != null) {
    <div>
        @foreach (var q in Model) {
            @q.Word @:<br />
        }
    </div>
}
