@model System.Collections.Generic.List<VocabInstaller.Models.Question>

@{
    ViewBag.Title = "Load";
}

@section navigations {
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Function", "Index", "Function")</li>
        </ul>
    </nav>
}

@section scripts {
    <script type="text/javascript">
    $(function () {
        $("#sbmLoad").click(function(){
            if (confirm("Are you sure you want to load data to this database?")){
                return true;
            }else{
                return false;
            }
        });
    });
    </script>
}

<h2>Load</h2>
<p>Click below button to load data from csv file.</p>

@using (Html.BeginForm("Load", "Function",
    FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()

    <p>
        <input type="file" name="csvFile" />
    </p>
    <p>
        overwrite: @Html.CheckBox("overwrite", false)
    </p>
    <p>
        <input id="sbmLoad" type="submit" value="Load" />
    </p>
}

@if (Model != null) {
    <h2>Loaded</h2>
    <div>
        @foreach (var q in Model) {
            @q.Word @:<br />
        }
    </div>
}
