@model VocabInstaller.Models.LocalPasswordModel

<h3>Change password</h3>

<section id="change_password_form">
    @using (Html.BeginForm("Manage", "Account")) {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary()

        <fieldset>
            <legend>Change Password Form</legend>
            <ul>
                <li>
                    @Html.LabelFor(m => m.OldPassword): 
                    @Html.PasswordFor(m => m.OldPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.NewPassword): 
                    @Html.PasswordFor(m => m.NewPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword): 
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </li>
            </ul>

            <div class="submit_button">
                <input type="submit" value="Change password" />
            </div>
        </fieldset>
    }
</section>
