@model VocabInstaller.Models.LocalPasswordModel

<h3>Change password</h3>

<section id="change_password_form">
    @using (Html.BeginForm("Manage", "Account")) {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary()

        <fieldset>
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "control-label", @for = "tbOldPassword" }):
                @Html.PasswordFor(m => m.OldPassword, new { @id = "tbOldPassword", @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label", @for = "tbNewPassword" }):
                @Html.PasswordFor(m => m.NewPassword, new { @id = "tbNewPassword", @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label", @for = "tbConfirmPassword" }):
                @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "tbConfirmPassword", @class = "form-control" })
            </div>
            
            <div class="form-group submit_button">
                <button type="submit" class="btn btn-warning">
                    Change Password
                </button>
            </div>
        </fieldset>
    }
</section>
