@model VocabInstaller.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<h1>@ViewBag.Title.</h1>

<p class="message_success">
    @ViewBag.StatusMessage
</p>

<p class="login_user">
    You're logged in as <strong>@User.Identity.Name</strong>.
</p>

@if (ViewBag.HasLocalPassword) {
    @Html.Partial("_ChangePasswordPartial")
}
   
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
